 <div class="header-container">
    <!-- PLACE YOUR LOGO HERE -->
    <div class="hidden-lg hidden-md">
    <button (click)="toggleElement()" class="hamburger" [hidden]="showElement">
    <i class="fa fa-bars col-xs-3 col-sm-3"></i>
    </button>
    <button (click)="toggleElement()" class="hamburger" [hidden]="hideElement">
    <i class="fa fa-close col-xs-3 col-sm-3"></i>
    </button>
    </div>
		<div class="col-xl-6 col-lg-6 col-sm-9 col-xs-9"> <img class="logo" src="./header-logo.svg"/></div>
	<!-- END LOGO PLACEHOLDER -->		
			<!-- pulled right: nav area -->
			<div class="pull-right col-xl-6 col-lg-6 hidden-xs hidden-sm">
				<div class="btn-header pull-right">
					<span> <a href="javascript:void(0);">Contact Us</a> </span>
					<span> <a href="javascript:void(0);">FAQ</a> </span>
					<span> <a href="javascript:void(0);">Lost your Card?</a> </span>
				</div>
			</div>
			<!-- end pulled right: nav area -->	
  </div>
  <aside id="left-panel" class="col-xs-10 col-sm-10 hidden-lg hidden-md" [hidden]="hideElement">
			<!-- NAVIGATION : This navigation is also responsive-->
            <i class="fa fa-caret-up"></i>
			<nav>
				<ul>
					<li class="active">
						<a href="#" title="Home">
                        <span>Home</span></a>
					</li>
					<li>
						<a href="#">
                        <span>Card Benifits</span></a>
					</li>	
                    <li>
						<a href="#">
                        <span>What is costs</span></a>
					</li>
                    <li>
						<a href="#">
                        <span>About Us</span></a>
					</li>
                    <li>
						<a href="#">
                        <span>Active or Enroll card</span></a>
					</li>	
                    <li>
						<a href="#">
                        <span>Contact Us</span></a>
					</li>	
                    <li>
						<a href="#">
                        <span>FAQs</span></a>
					</li>
                    <li>
						<a href="#">
                        <span>Lost your card?</span></a>
					</li>
				</ul>
                <ul>
					<li class="active">
						<a href="#" title="Home">
                        <span>Apply Now</span></a>
					</li>
                    <li class="active">
						<a href="#" title="Home">
                        <span>Sign In</span></a>
					</li>
			
				</ul>
			</nav>
		</aside>